
#ignores all .bin files
*.bin
*.vsidx
banksystem/BankApplication/BankApplication/bin/Debug/net6.0-windows7.0/
banksystem/BankApplication/BankApplication/obj/Debug/net6.0-windows7.0/
banksystem/BankApplication/BankApplication/obj/
banksystem/BankApplication/.vs/